fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul li{
   float: left;
   list-style-type: none;
   margin: 10px;
 background-color: ;
  }


 ::placeholder{
   color: #000!important;
 }